* {
    box-sizing: border-box;
    margin: 0px;
    /*color: white;*/
    outline: solid white 1px;
}

button {
    /*color: black;*/
}

body {
   /* background-color: black;*/
}

.upboard .header {
    background-color: #1F2937;
    display: inline-block;
    color: white;
    padding: 50px;
    padding-top: 10px;
    border: 50px;
    /* border-top: 0px; */
}


.top {
    /* border: solid white 1px; */
    display: flex;
    justify-content: flex-end;
}

.logo {
    margin-right: auto;
}

.top a {
    margin:  0px  10px;
}


div {
    flex:1;
}

.links a {
    margin: 10px;
    display: inline;
}

.best {
    display: flex;
    padding: 50px;
    justify-content: flex-between; /*crate a space between the car and the "awesome" element*/
}

.awesome .diapo {
    
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

img {
    width: 300px;
    /* margin: 30px;
    margin-top: 40px;*/
} 

