* {
    box-sizing: border-box;
    margin: 0px;
    /*color: white;*/
}

button {
    /*color: black;*/
}

body {
   /* background-color: black;*/
}

.upboard .header {
    background-color: #1F2937;
    color: white;
    padding: 50px;
    border: 50px;
}

.awesome {
    display: inline-block;
    align-items: center;
    height: 350px;
    margin: 20px 20px 0px 20px;
}

.best {
    display: flex;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

img {
    width: 500px;
    margin: 30px;
    margin-top: 40px;
}

